.size {
    width: 46px;
    height: 46px;
    border: 1px solid #c4c4c4;
    font-size: 14px;
    text-transform: uppercase;
    color: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    transition: all 0.1s linear;

    &:hover {
        border-color: #000;
        color: #000;
    }

    &.selected {
        border-color: #000;
        color: #000;
    }
}