.rc-slider-rail {
    background-color: #bdbdbd;
}

.rc-slider-track .rc-slider-track-1 {
    background-color: #000;
}

.filterPrice__range {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}