.block {
    padding: 25px;
    border: 1px solid #000;
}

.header {
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    font-size: 32px;
}

.reset {
    display: flex;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;

    span {
        margin-left: 5px;
    }
}

.filter {
    margin-bottom: 15px;
}

.filter__title {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.filter__positions {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    text-transform: uppercase;
    gap: 10px;
}

.filter__position {
    display: flex;
    align-items: center;

    svg {
        cursor: pointer;
        margin-right: 2px;
    }
}

.filter__color {
    width: 27px;
    height: 27px;
    border: 1px solid #c4c4c4;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        width: 17px;
        height: 17px;
    }
}