@use "../../scss/vars.scss" as *;

.header {
	background-color: $black;
	position: relative;
	z-index: 1000;

	.header__burger {
		position: relative;
		z-index: 1000;
		display: none;
		width: 20px;
		height: 15px;

		@media (max-width: $sm) {
			display: block;
		}

		span {
			display: block;
			position: absolute;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: #fff;

			&:first-child {
				top: 0;
			}

			&:nth-child(2) {
				top: 50%;
				transform: translate(0, -50%);
			}

			&:last-child {
				bottom: 0;
			}
		}


	}

	@media (max-width: $sm) {
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #000;
			width: 100%;
			height: 100%;
			z-index: 999;
		}
	}

	// .header__inner

	&__inner {
		color: $white;
		font-family: "Oswald", sans-serif;
		padding: 25px 0;
		display: flex;
		align-items: center;

		@media (max-width: $sm) {
			justify-content: space-between;
		}
	}

	// .header__left

	&__left {
		@media (max-width: $sm) {
			position: absolute;
			z-index: 1000;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}

	// .header__logo

	&__logo {
		position: relative;
		z-index: 1000;
	}

	// .header__menu

	&__menu {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;

		@media (max-width: $sm) {
			position: fixed;
			top: -100%;
			left: 0;
			z-index: 10;
			width: 100%;
			height: 100%;
			background-color: #000;
			overflow: auto;
			padding-top: 100px;
		}
	}

	// .header__right

	&__right {
		display: flex;
		align-items: center;

		@media (max-width: $sm) {
			position: relative;
			z-index: 1000;
		}
	}

	// .header__cart

	&__cart {
		display: flex;
		align-items: center;
		font-family: 'Roboto', sans-serif;
	}

	// .header__cart-icon

	&__cart-icon {
		margin-right: 5px;
	}

	// .header__cart-info

	&__cart-info {}

	// .header__cart-title

	&__cart-title {
		font-size: 12px;
		font-weight: 500;
	}

	// .header__cart-price

	&__cart-price {
		font-size: 14px;
		font-weight: 700;
	}
}

.nav {
	display: flex;

	@media (max-width: $sm) {
		flex-direction: column;
		text-align: center;
		font-size: 24px;
		gap: 15px;
	}

	// .nav__link

	&__link {
		text-transform: uppercase;
		margin-right: 18px;
		position: relative;
		cursor: pointer;

		@media (max-width: $sm) {
			margin-right: 0;
		}

		&::after {
			position: absolute;
			bottom: -5px;
			left: 50%;
			transform: translate(-50%, 0);
			opacity: 0;
			content: "";
			width: 120%;
			height: 2px;
			background-color: $red;
			display: block;
			transition: opacity 0.2s linear;
		}

		&:hover {
			&::after {
				opacity: 1;
			}
		}
	}
}

.profile-header {
	padding-right: 30px;
	// .profile-header__link

	&__link {
		text-transform: uppercase;
		margin-right: 12px;
		cursor: pointer;
		position: relative;

		@media (max-width: $sm) {
			display: none;
		}

		&:last-child {
			margin-right: 0;
		}

		&::after {
			position: absolute;
			bottom: -5px;
			left: 50%;
			transform: translate(-50%, 0);
			opacity: 0;
			content: "";
			width: 120%;
			height: 2px;
			background-color: $red;
			display: block;
			transition: opacity 0.2s linear;
		}

		&:hover {
			&::after {
				opacity: 1;
			}
		}
	}

	// .profile-header__favorite

	&__favorite {
		margin: 0 10px 0 30px;

		@media (max-width: $sm) {
			display: none;
		}
	}
}