.filters {
    display: flex;
    flex-direction: column;

    // .filters__filter
    &__filter {
        margin-bottom: 30px;
    }

    // .filters__title
    &__title {
        font-size: 24px;
        font-family: 'Oswald', sans-serif;
        margin-bottom: 15px;
    }


    &__checkboxes {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__sizes {
        display: grid;
        grid-template-columns: repeat(5, 46px);
        grid-auto-flow: row;
        gap: 10px;
    }

    &__colors {
        display: grid;
        grid-template-columns: repeat(7, 31px);
        grid-auto-flow: row;
        gap: 10px;
    }

    &__btn {
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        padding: 10px 35px;
        color: #828282;
        background-color: #f0f1f2;
        border: 2px solid #c4c4c4;
        transition: all 0.1s linear;
        margin-left: auto;

        &:hover {
            border-color: #828282;
        }
    }
}