@use "./scss/vars.scss" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Roboto", serif;
	font-optical-sizing: auto;
	font-style: normal;
	background-color: #fff;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

button {
	border: none;
	background: none;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;

}

ul,
li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.container {
	max-width: 1500px;
	padding: 0 15px;
	margin: 0 auto;
}

.btn {
	padding: 13px 50px;
	font-size: 18px;
	font-weight: 500;
	color: $black;
	text-transform: uppercase;
	border: 3px solid $black;
	transition: all 0.2s linear;

	&:hover {
		background-color: $black;
		color: #fff;
	}
}

// shop

.shop {


	// .shop__catalog
	&__catalog {
		display: flex;
		padding-top: 20px;
	}
}

.sidebar {
	flex: 0 1 20%;
	border-right: 1px solid #c4c4c4;
	padding: 20px 40px 20px 0;
}

.catalog {
	flex: 0 1 80%;
}

.catalog__order {}

.catalog__top {
	display: flex;
	justify-content: flex-end;
}

.catalog__products {
	padding: 20px 0 20px 30px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 25px;
	row-gap: 40px;
}